absl-py==1.0.0
addict==2.4.0
aniso8601==9.0.1
anyconfig==0.13.0
apturl==0.5.2
asn1crypto==0.24.0
attrs==22.1.0
beautifulsoup4==4.6.0
black==22.1.0
bleach==1.5.0
Brlapi==0.6.6
cached-property==1.5.2
cachetools==4.2.4
certifi==2018.1.18
chardet==3.0.4
charset-normalizer==2.0.12
chumpy==0.70
click==8.0.4
command-not-found==0.3
cryptography==2.1.4
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.32
dataclasses==0.8
decorator==4.4.2
defer==1.0.6
distro-info===0.18ubuntu0.18.04.1
entrypoints==0.4
filterpy==1.4.5
fire==0.4.0
Flask==2.0.3
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
flatbuffers==1.12
freetype-py==2.2.0
future==0.18.2
future-fstrings==1.2.0
google-auth-oauthlib==0.4.6
grpcio==1.44.0
gstreamer-player==1.1.2
h5py==2.7.1
html5lib==0.9999999
httplib2==0.9.2
idna==2.6
imageio==2.15.0
imgaug==0.4.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
install==1.3.5
ipykernel==5.5.6
ipython==5.5.0
ipython_genutils==0.2.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
jupyter-client==7.1.2
jupyter-core==4.9.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
leveldb==0.1
llvmlite==0.36.0
lmdb==1.3.0
louis==3.5.0
lxml==4.2.1
macaroonbakery==1.1.3
Mako==1.0.7
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.3.4
mediapipe==0.8.3
menulibre==2.2.0
multi-person-tracker @ git+https://github.com/mkocabas/multi-person-tracker.git@2803ac529dc77328f0f1ff6cd9d36041e57e7288
mutagen==1.45.1
mypy-extensions==0.4.3
natsort==8.2.0
nest-asyncio==1.5.6
netifaces==0.10.4
networkx==2.5.1
nose==1.3.7
numba==0.53.1
numexpr==2.6.4
numpy==1.19.3
oauth==1.0.1
oauthlib==3.2.0
olefile==0.45.1
onnx==1.12.0
onnxruntime==1.10.0
opencv-python==4.6.0.66
pandas==1.1.5
pathlib==1.0.1
pathspec==0.9.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==8.4.0
platformdirs==2.4.0
Polygon3==3.0.8
prompt-toolkit==1.0.15
protobuf==3.19.4
psutil==5.4.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pyclipper==1.3.0.post3
pycocotools==2.0.6
pycocotools-fix==2.0.0.9
pycrypto==2.6.1
pycups==1.9.73
pyglet==1.5.22
Pygments==2.2.0
PyGObject==3.26.1
pymacaroons==0.13.0
PyNaCl==1.1.2
PyOpenGL==3.1.0
pyparsing==3.0.7
pyrender==0.1.45
pyRFC3339==1.0
PySimpleGUI==4.60.4
python-apt==1.6.5+ubuntu0.5
python-dateutil==2.8.2
python-debian==0.1.32
python-gflags==1.5.1
pytube==12.0.0
pytz==2018.3
PyWavelets==1.1.1
pyxdg==0.25
PyYAML==6.0
pyzmq==24.0.1
reportlab==3.4.0
requests==2.27.1
requests-oauthlib==1.3.1
requests-unixsocket==0.1.5
rsa==4.9
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
Shapely==1.8.4
simplegeneric==0.8.1
simplejson==3.13.2
six==1.11.0
sklearn==0.0
smplx @ git+https://github.com/ZhengyiLuo/smplx.git@c19c10e6dd74bcabfc50c6d06baa3c64e55384ca
system-service==0.3
systemd-python==234
tables==3.4.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
tf2onnx==1.12.1
threadpoolctl==3.1.0
tifffile==2020.9.3
tomli==1.2.3
torch==1.10.1
torch-tb-profiler==0.4.0
torchsummary==1.5.1
torchvision==0.11.2
tornado==6.1
tqdm==4.63.0
traitlets==4.3.2
trimesh==3.10.5
typed-ast==1.5.2
typing_extensions==4.1.1
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.22
usb-creator==0.3.3
wadllib==1.3.2
wcwidth==0.1.7
webencodings==0.5
Werkzeug==2.0.3
xkit==0.0.0
yacs==0.1.8
yolov3 @ git+https://github.com/mkocabas/yolov3-pytorch.git@d7192c9f6cec43f7db4bd91186b2c0401eafd5a6
zipp==3.6.0
zope.interface==4.3.2
